/*    main style    */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inconsolata', monospace !important;
  background: #0f0f0f !important;
  color: #fff !important;
}

.whitespace {
  width: 100%;
  height: 100px;
}

@media (max-width: 768px) {
  .whitespace {
    display: none;
  }
}

nav {
  width: 100%;
  background: #0f0f0f;
  height: 80px;
  position: fixed;
  z-index: 1;
}

nav #brand {
  float: left;
  display: block;
  margin-left: 82px;
  line-height: 80px;
  font-weight: bold;
}

nav #brand a {
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav #brand a:hover {
  text-decoration: none;
}

nav #menu {
  float: left;
  right: 80px;
  position: fixed;
}

nav #menu li {
  padding-left: 40px;
  display: inline-block;
  cursor: pointer;
  font-weight: 300;
  line-height: 80px;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav #menu li span {
  font-weight: 700;
}

nav #menu li a {
  color: #fff;
}

nav #menu li a:hover {
  text-decoration: none;
}

#toggle {
  position: absolute;
  right: 30px;
  top: 20px;
  font-weight: 300;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: right;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

.close-btn {
  position: absolute;
  right: 16px;
  font-weight: 300;
  z-index: 2;
  cursor: pointer;
  top: -2px;
  line-height: 80px;
}

#resize {
  z-index: 1;
  top: 0px;
  position: fixed;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#resize #menu {
  height: 90px;
  position: absolute;
  left: 45%;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  text-align: center;
  display: table-cell;
  vertical-align: center;
}

#resize #menu li {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 50px;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
  margin-top: 140px;
}

#resize #menu li a {
  color: #fff;
}

#resize #menu li a:hover {
  text-decoration: none;
}

#resize.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
    margin-right: 4px;
  }
  nav #brand {
    margin-left: 24px;
  }
  #menu a {
    font-size: 20px;
    font-weight: 300;
  }
  #resize li span {
    font-weight: bolder;
  }
  nav #menu {
    display: none;
  }
}

@media (min-width: 768px) {
  #resize {
    visibility: hidden !important;
  }
}

.hero {
  padding-top: 25%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero h1 {
  font-weight: lighter;
  text-align: center;
  letter-spacing: -2px;
  line-height: 58px;
}

p {
  font-size: 3rem;
  display: inline;
}

.blinking-cursor {
  color: #2E3D48;
  -webkit-animation: .5s blink step-end infinite;
  animation: .5s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 100px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 0;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: translate(-50%, 0) rotate(45deg);
  -webkit-animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
          animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px) rotate(45deg);
            transform: translate(0, -20px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 20px) rotate(45deg);
            transform: translate(0, 20px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px) rotate(45deg);
            transform: translate(0, -20px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 20px) rotate(45deg);
            transform: translate(0, 20px) rotate(45deg);
    opacity: 0;
  }
}

h6 {
  text-align: center;
}

.vertical {
  margin-top: 40px;
  border-left: 1px solid #fff;
  height: 80px;
  position: absolute;
  left: 50%;
}

.project {
  height: 500px;
}

.project1 {
  background: url("https://images.unsplash.com/photo-1484659619207-9165d119dafe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat 50% 50%;
  background-size: cover;
}

.project1::after {
  content: "augres restaurant";
  font-family: "DM Sans";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 13%;
  left: -55%;
  right: 0;
  bottom: 0;
}

.project2 {
  background: url("https://images.unsplash.com/photo-1504899525369-ab0d6aabe47d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80") no-repeat 70% 30%;
  background-size: cover;
}

.project2::after {
  content: "pedal fest.";
  font-family: "DM Sans";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 80%;
  left: 90%;
  right: 0;
  bottom: 0;
}

.project3 {
  background: url("https://images.unsplash.com/photo-1557075877-bf592ed513a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80") no-repeat 50% 50%;
  background-size: cover;
}

.project3::after {
  content: "clickeable html email.";
  font-family: "DM Sans";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 80%;
  left: -30%;
  right: 0;
  bottom: 0;
}

.project4 {
  background: url("https://images.unsplash.com/photo-1524010349062-860def6649c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80") no-repeat 50% 50%;
  background-size: cover;
}

.project4::after {
  content: "online store";
  font-family: "DM Sans";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 50%;
  left: 105%;
  right: 0;
  bottom: 0;
}

.project5 {
  background: url("https://images.unsplash.com/photo-1560718217-69193acc0713?ixlib=rb-1.2.1&auto=format&fit=crop&w=932&q=80") no-repeat 50% 50%;
  background-size: cover;
}

.project5::after {
  content: "music promotion.";
  font-family: "DM Sans";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 80%;
  left: -30%;
  right: 0;
  bottom: 0;
}

.project6 {
  background: url("https://images.unsplash.com/photo-1551219059-b5f8e7acee56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat 50% 50%;
  background-size: cover;
}

.project6::after {
  content: "the geek mane store.";
  font-family: "DM Sans";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 40%;
  left: 90%;
  right: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .project {
    width: 90% !important;
    margin: 14px auto;
  }
  .vertical, .project1::after, .project2::after, .project3::after, .project4::after {
    display: none;
  }
}

.collab {
  text-align: left;
}

.collab p {
  font-weight: lighter !important;
  margin-bottom: 20px;
}

.hr {
  background: rgba(255, 255, 255, 0.2);
  height: 1px;
}

.info h4 {
  font-size: 18px;
  font-weight: lighter;
}

.info p {
  color: grey;
  font-weight: lighter;
}

.info li {
  font-weight: lighter;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
}

.fab {
  color: white;
}

#fb::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #233DFF;
}

#ig::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #fcaf45;
}

#li::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #42B3CF;
}

#tu::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #313D73;
}

#media, #address {
  text-align: right;
}

#media ul {
  list-style: none;
}

#media ul li {
  display: inline-block;
}

@media (max-width: 768px) {
  .collab, #personal, #media, #address {
    text-align: center;
  }
  .info ul {
    margin: 0 0 0 -22px;
    padding: 0;
  }
}

.hero-content {
  margin-left: 0%;
}

.hero-content p {
  font-weight: 300;
  line-height: 36px;
  color: grey;
}

.hero-content h6 {
  text-align: left;
}

@media (max-width: 768px) {
  .hero-content {
    padding-top: 50px;
    width: 96%;
    margin: 0 auto;
  }
}

.about {
  height: 500px;
  margin-top: 120px;
}

.image {
  background: url("https://images.unsplash.com/photo-1562065540-efa93744ed71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat 50% 50%;
}

#contact-form input, #contact-form textarea {
  padding: 4px;
  border: none;
  resize: vertical;
  background: url("../img/papyrus-dark.png");
  color: #ffffff;
  font-weight: bold;
}

input:focus {
  outline: none;
  border: none;
}

textarea:focus {
  outline: none;
  border: none;
}

.textarea {
  border-bottom: 0.5px solid lightgrey;
}

.send {
  margin-left: 50px;
  text-transform: uppercase;
  padding: 10px 20px;
  background: transparent;
  color: #dfdfdf;
  font-size: 15px;
  letter-spacing: 2px;
}

.send:hover {
  background: #dfdfdf;
  color: #101010;
}

@media (max-width: 768px) {
  #contact-form {
    margin: 5% -8%;
    width: 90%;
  }
}

.img1 {
  background: url("../img/mockup-1.jpg") no-repeat 50% 50%;
  background-size: contain;
}

.img-sm1 {
  background: url("../img/mock-cel-1.jpg") no-repeat 50% 50%;
  background-size: contain;
}

.img2 {
  background: url("../img/mockup-2.jpg") no-repeat 50% 50%;
  background-size: contain;
}

.img-sm2 {
  background: url("../img/mock-cel-2.jpg") no-repeat 50% 50%;
  background-size: contain;
}

.img3 {
  background: url("../img/mockup-5.jpg") no-repeat 50% 50%;
  background-size: contain;
}
/*# sourceMappingURL=main.css.map */